* {
  margin: 0;
  padding: 0;
}

.center {
  text-align: center;
}

nav {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navItem {
  list-style: none;
  padding: 5px;
  margin: 0px 7px;
}

.ingredient {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 25px;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
}

.editbtn:hover {
  background-color: crimson;
  cursor: pointer;
}